@model WeBloge.Domain.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--ForgotPassword-->
<section class="section pt-55 mb-50">
    <div class="container">
        <div class="sign widget ">
            <div class="section-title">
                <h5>فراموشی رمز عبور</h5>
            </div>
            <form asp-action="ForgotPassword" class="sign-form widget-form">
                <div class="form-group">

                    <input asp-for="Email" type="email" class="form-control" placeholder="آدرس ایمیل">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Captcha" />

                <div class="form-group">
                    <button type="submit" class="btn-custom">ارسال ایمیل فعالسازی</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
{
    <partial name="_CaptchaScripts" />
}
