@using WeBloge.Domain.Entities.Admin
@model WeBloge.Domain.ViewModels.Admin.CreateWeBlogeViewModel

@{
    ViewData["Title"] = "افزودن وبلاگ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var categories = ViewData["Categorie"] as List<Categories>;
}

@section Styles
{
    <style>
            .ck-editor__editable {
            min-height: 200px !important;
            }
    </style>
}

<div class="row">
    <div class="col-md-12 col-xl-12">

        <div class="card">
            <div class="card-body">

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane" id="revenue" role="tabpanel" style="position: relative;">
                        <div id="revenue-chart" class="apex-charts mt-4" style="min-height: 315px;"><div id="apexcharts0zaiaxdw" class="apexcharts-canvas apexcharts0zaiaxdw" style="width: 0px; height: 300px;"><svg id="SvgjsSvg1026" width="0" height="300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1029" class="apexcharts-annotations"></g><g id="SvgjsG1028" class="apexcharts-inner apexcharts-graphical"><defs id="SvgjsDefs1027"></defs></g></svg><div class="apexcharts-legend"></div></div></div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 1px; height: 1px;"></div></div><div class="contract-trigger"></div></div>
                    </div>
                    <form asp-action="CreateWeBloge" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>عنوان وبلاگ</label>
                                    <input type="text" class="form-control" asp-for="Title" placeholder="عنوان را وارد کنید">
                                    <span class="text-danger m-1" asp-validation-for="Title"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>انتخاب دسته بندی</label>
                                    <select asp-for="CategoriesId" class="form-control">
                                        <option>لطفا دسته بندی را انتخاب کنید</option>
                                        @if (categories != null && categories.Any())
                                        {
                                            foreach (var item in categories)
                                            {
                                                <option value="@item.Id">@item.Title</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>توضیحات</label>
                                    <textarea asp-for="Description" class="editor"></textarea>
                                    <span class="text-danger m-1" asp-validation-for="Description"></span>
                                </div>
                            </div> <!-- end col -->
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>عکس صفحه</label>
                                    <input asp-for="Img" type="file" />
                                    <span asp-validation-for="Img" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="pt-2">
                            <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light">ویرایش اطلاعات</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <script>
        var editorsArray = [];
        var editors = document.querySelectorAll(".editor");
        if (editors.length) {
            $.getScript("/custom/ckeditor/build/ckeditor.js",
                function (data, textStatus, jqxhr) {
                    for (editor of editors) {
                        ClassicEditor
                            .create(editor,
                                {
                                    licenseKey: '',
                                    simpleUpload: {
                                        uploadUrl: '/Home/UploadEditorImage'
                                    }
                                })
                            .then(editor => {
                                window.editor = editor;
                                editorsArray.push(editor);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    }
                });
        }
    </script>

}