@model WeBloge.Domain.ViewModels.Admin.UpdateCategoriesViewModel

@{
    ViewData["Title"] = "ویرایش دسته بندی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-7">

        <div class="card">
            <div class="card-body">

                <!-- Tab panes -->
                <div class="tab-content p-3 text-muted">
                    <div class="tab-pane" id="revenue" role="tabpanel" style="position: relative;">
                        <div id="revenue-chart" class="apex-charts mt-4" style="min-height: 315px;"><div id="apexcharts0zaiaxdw" class="apexcharts-canvas apexcharts0zaiaxdw" style="width: 0px; height: 300px;"><svg id="SvgjsSvg1026" width="0" height="300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1029" class="apexcharts-annotations"></g><g id="SvgjsG1028" class="apexcharts-inner apexcharts-graphical"><defs id="SvgjsDefs1027"></defs></g></svg><div class="apexcharts-legend"></div></div></div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 1px; height: 1px;"></div></div><div class="contract-trigger"></div></div>
                    </div>
                    <form asp-action="UpdateCategories" asp-controller="Admin">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>ویرایش دسته بندی</label>
                                    <hr />

                                    <input asp-for="Title" class="form-control" placeholder="دسته بندی مورد نظر را وارد کنید ...">
                                    <span class="text-danger m-1" asp-validation-for="Title"></span>
                                </div>
                            </div> <!-- end col -->
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light">ویرایش اطلاعات</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>