@using WeBloge.Application.Extensions
@using WeBloge.Domain.ViewModels.WeBloge
@model WeBloge.Domain.Entities.Admin.WeBloges

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--post-default-->
<section class="section pt-55 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mb-20">
                <!--Post-single-->
                <div class="post-single">
                    <div class="post-single-image">
                        <img src="/content/gallery/@Model.Img" alt="...">
                    </div>
                    <div class="post-single-content">
                        <a href="blog-grid.html" class="categorie">@Model.Categories.Title</a>
                        <h4>@Model.Title</h4>
                        <div class="post-single-info">
                            <ul class="list-inline">
                                <li class="dot"></li>
                                <li>@Model.CreateDate.GetDataShamsi()</li>
                            </ul>
                        </div>
                    </div>

                    <div class="post-single-body">
                        @Html.Raw(Model.Description)
                    </div>
                </div> <!--/-->
                <!--widget-comments-->
                <div class="widget mb-50">
                    <div class="title">
                        <h5>دیدگاه ها</h5>
                    </div>
                    
                    <ul class="widget-comments">
                        @await Component.InvokeAsync("WidgetComments", new {WeBlogesId = Model.Id})
                    </ul>

                    <!--Leave-comments-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <partial name="_CommentForm" model="new CommentViewModel {WeBlogesId = Model.Id}" />
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">
                            برای افزودن دیدگاه ابتدا وارد حساب کاربری خود شوید.
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4 max-width">
                <!--widget-author-->
                <div class="widget">
                    @await Component.InvokeAsync("WriterWeBlogeDetail")
                </div>
                <!--/-->
                <!--widget-latest-posts-->
                <div class="widget ">
                    <div class="section-title">
                        <h5>نوشته های اخیر</h5>
                    </div>
                    <ul class="widget-latest-posts">
                        @await Component.InvokeAsync("LatestPosts")
                    </ul>
                </div>
                <!--/-->
                <!--widget-categories-->
                <div class="widget">
                    <div class="section-title">
                        <h5>دسته بندیها</h5>
                    </div>
                    <ul class="widget-categories">
                        @await Component.InvokeAsync("WidgetCategories")
                    </ul>
                </div>
                <!--/-->
            </div>
        </div>
    </div>
</section>