
@{
    ViewData["Title"] = "صفحه مورد نظر پیدا نشد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section pt-55 mb-50">
    <div class="container-fluid">
        <div class="page404  widget">
            <div class="image">
                <img src="assets/img/404.html" alt="">
            </div>
            <div class="content">
                <h1>404</h1>
                <h3>صفحه پیدا نشد.</h3>
                <p>مطلبی که به دنبال آن هستید متاسفانه پیدا نشد. </p>
                <a href="/" class="btn-custom">بازگشت به صفحه اصلی</a>
            </div>
        </div>
    </div>
</section>