@{
    Layout = "_PanelLayout";
    ViewData["Title"] = ViewData["Title"];
}


<!-- Bootstrap Css -->
<link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
<!-- Icons Css -->
<link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
<!-- App Css -->
<link href="/assets/css/app.css" id="app-style" rel="stylesheet" type="text/css">
<!-- Theme Color -->
@await RenderSectionAsync("Styles", false)

<div class="container-fluid">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div class="h-100">

                @await Component.InvokeAsync("AdminSideBar")

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">منو</li>

                        <li>
                            <a href="javascript:%20void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-settings-outline"></i>
                                <span>تنظیمات</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-action="Writer" asp-controller="Admin">پروفایل نویسنده</a></li>
                                <li><a asp-action="Categories" asp-controller="Admin">افزودن دسته بندی</a></li>
                                <li><a asp-action="ShowAllCategories" asp-controller="Admin">دسته بندی ها</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:%20void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-inbox-full"></i>
                                <span>وبلاگ</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-action="CreateWeBloge" asp-controller="Admin">افزودن وبلاگ</a></li>
                                <li><a asp-action="ShowAllWeBloge" asp-controller="Admin">لیست وبلاگ ها</a></li>
                            </ul>
                        </li>

                        <li>
                            <a asp-action="AddSocial" asp-controller="Admin">
                                <i class="mdi mdi-file-tree"></i>
                                <span>شبکه های اجتمایی</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:%20void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-account-circle-outline"></i>
                                <span>تماس با ما</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a asp-action="ShowAllContactUs" asp-controller="Admin">ورودی های اخیر</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <div class="main-content">

            <div class="page-content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="page-title mb-0 font-size-18">@ViewData["Title"]</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">به صفحه @ViewData["Title"] خوش امدید</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                @RenderBody()

            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

</div>
<!-- end container-fluid -->
<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>



<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<!-- apexcharts -->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

<script src="/assets/js/pages/profile.init.js"></script>

<!-- App js -->
<script src="/assets/js/app.js"></script>



@await RenderSectionAsync("Scripts", false)