<!--newslettre-->
<section class="newslettre">
    <div class="container-fluid">
        <div class="newslettre-width text-center">
            <div class="newslettre-info">
                <h5>عضویت در خبرنامه</h5>
                <p> رایگان ثبت نام کنید و اولین نفری باشید که از پست های جدید مطلع می شوید. </p>
            </div>
            <form action="#" class="newslettre-form">
                <div class="form-flex">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="آدرس ایمیل" required="required">
                    </div>
                    <button class="submit-btn" type="submit">عضویت</button>
                </div>
            </form>
            <div class="social-icones">
                @await Component.InvokeAsync("ShowSocial")
            </div>
        </div>
    </div>
</section>
