
<!doctype html>
<html lang="fa">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>@ViewData["Title"]</title>

    <partial name="_HeaderReference" />

    @await RenderSectionAsync("Styles", false)

</head>

<body class="rtl">
    
    <partial name="_Header" />

    @RenderBody()

    <partial name="_Footer" />

    <partial name="_FooterReference" />

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", false)

</body>
</html>